@{
	ViewData["Title"] = "Cadastrar Fornecedor";
}

<div class="text-center">
	<h1 class="display-4">Cadastrar Fornecedor</h1>

	<br />

</div>

<br />

<form>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="tipoDePessoa" id="pessoaFisica" value="Fisica" checked>
		<label class="form-check-label" for="pessoaFisica">
			Pessoa Física
		</label>
	</div>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="tipoDePessoa" id="pessoaJuridica" value="Juridica">
		<label class="form-check-label" for="pessoaJuridica">
			Pessoa Jurídica
		</label>
	</div>
	<br />
	<div class="form-group">
		<label for="exemploInputEmpresa">Empresa</label>
		<input type="text" class="form-control" id="exemploInputEmpresa" placeholder="Empresa">
	</div>
	<br />
	<div class="form-group">
		<label for="exemploInputNome">Nome</label>
		<input type="text" class="form-control" id="exemploInputNome" placeholder="Nome">
	</div>
	<br />
	<div class="form-group">
		<label for="exemploInputCPFouCNPJ">CNPJ</label>
		<input type="text" class="form-control" id="exemploInputCPFouCNPJ" placeholder="CPF/CNPJ">
	</div>
	<br />
	<div class="form-group">
		<label for="exemploInputDataNascimento">UF</label>
		<input type="text" class="form-control" id="exemploInputUf" placeholder="UF">
	</div>
	<br />
	<div class="form-group">
		<label for="exemploInputDataNascimento">Data de Nascimento</label>
		<input type="date" class="form-control" id="exemploInputDataNascimento" placeholder="DataNascimento">
	</div>
	<br />
	<div class="form-group">
		<label for="exemploInputTelefone">Telefone</label>
		<input type="tel" class="form-control" id="exemploInputTelefone" placeholder="Telefone">
	</div>
	<br />
	<button type="submit" class="btn btn-dark">Salvar</button>
	<br />
	<br />
	<a role="button" class="btn btn-dark" asp-controller="Fornecedores" asp-action="Index">Voltar</a>
</form>