@{
	ViewData["Title"] = "Remover Cadastro de Fornecedor";
}

<div class="text-center">
	<h1 class="display-4">Deseja realmente apagar o cadastro do Fornecedor?</h1>

	<br />

	<a class="btn btn-dark" role="button" asp-controller="Fornecedores" asp-action="Index">Cancelar exclusão</a>
	<br />
	<br />
	<a class="btn btn-danger" role="button" asp-controller="Fornecedores" asp-action="Index">Confirmar exclusão</a>

</div>