@{
	ViewData["Title"] = "Remover Cadastro de Empresa";
}

<div class="text-center">
	<h3 class="display-4">Deseja realmente apagar o cadastro da Empresa?</h3>

	<br />

	<a class="btn btn-dark" role="button" asp-controller="Empresas" asp-action="Index">Cancelar exclusão</a>
	<br />
	<br />
	<a class="btn btn-danger" role="button" asp-controller="Empresas" asp-action="Index">Confirmar exclusão</a>

</div>