@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Cadastro e consulta de Empresas e Fornecedores</h1>

	<br/>

	<div class="d-grid gap-2 col-6 mx-auto">
		<a role="button" class="btn btn-dark" asp-controller="Empresas" asp-action="Cadastrar">Cadastrar Empresa</a>
	</div>

	<br/>

	<div class="d-grid gap-2 col-6 mx-auto">
		<a role="button" class="btn btn-dark" asp-controller="Fornecedores" asp-action="Cadastrar">Cadastrar Fornecedor</a>
	</div>

</div>
